.about-us {
  margin-bottom: 60px;
}

.about-us__inner {
  @include inner;
}

.about-us__title {
  margin: 0 0 30px 0;
}

.about-us__list {
  @include reset-list;
}

.about-us__image {
  margin-bottom: 20px;
}

.about-us__item {
  &:not(:last-of-type) {
    margin-bottom: 30px;
  }
  width: 260px;
}

.about-us__text {
  font-size: 17px;
  font-weight: bold;
  line-height: 1.18;
  margin: 0;
}

@media (min-width: 768px) {
  .about-us {
    margin-bottom: 30px;
  }

  .about-us__title {
    font-size: 43px;
    line-height: 1.16;
    margin-bottom: 50px;
  }

  .about-us__list {
    display: flex;
    flex-wrap: wrap;
  }

  .about-us__item {
    width: 300px;
  }

  .about-us__item:not(:last-of-type) {
    margin-bottom: 60px;
  }
}

@media (min-width: 1150px) {
  .about-us {
    margin-bottom: 30px;
  }

  .about-us__wrapper {
    width: 700px;
    margin: 0 auto;
  }

  .about-us__list {
    width: 700px;
    justify-content: space-between;
  }
}
