.about-us {
  margin-bottom: 56px;

  @media (min-width: $tablet-width) {
    margin-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 35px;
  }
}

.about-us__wrapper {
  @media (min-width: $desktop-width) {
    width: 700px;
    margin: 0 auto;
  }
}

.about-us__inner {
  @include inner;
}

.about-us__title {
  margin: 0 0 30px 0;

  @media (min-width: $tablet-width) {
    line-height: 1.16;
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    line-height: 1.08;
  }
}

.about-us__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;

  @include reset-list;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 630px;
  }

  @media (min-width: $desktop-width) {
    width: 645px;
  }
}

.about-us__item--eco {
  @media (max-width: $mobile-width-only) {
    width: 175px;
  }

  @media (min-width: $tablet-width) {
    width: 205px;
    order: 1;
  }
}

.about-us__item--scandinavian {
  @media (max-width: $mobile-width-only) {
    width: 200px;
  }

  @media (min-width: $tablet-width) {
    width: 248px;
    order: 3;
  }
}

.about-us__item--likes {
  @media (max-width: $mobile-width-only) {
    width: 182px;
  }

  @media (min-width: $tablet-width) {
    width: 235px;
    order: 5;
  }
}

.about-us__item--love {
  @media (max-width: $mobile-width-only) {
    width: 212px;
  }

  @media (min-width: $tablet-width) {
    width: 295px;
    order: 2;
  }
}

.about-us__item--support {
  @media (max-width: $mobile-width-only) {
    width: 252px;
  }

  @media (min-width: $tablet-width) {
    width: 295px;
    order: 4;
  }
}

.about-us__item--present {
  @media (max-width: $mobile-width-only) {
    width: 198px;
  }

  @media (min-width: $tablet-width) {
    width: 294px;
    order: 6;
  }
}

.about-us__image {
  margin-bottom: 20px;

  @media (min-width: $desktop-width) {
    margin-bottom: 6px;
  }
}

.about-us__item {
  &:not(:last-of-type) {
    margin-bottom: 30px;
  }

  @media (min-width: $tablet-width) {
    &:not(:last-of-type) {
      margin-bottom: 56px;
    }
  }
}

.about-us__image--eco {
  margin-bottom: 8px;
  width: 32px;
  height: 37px;
}

.about-us__image--scandinavian {
  width: 47px;
  height: 27px;
  margin-bottom: 17px;
}

.about-us__image--likes {
  width: 34px;
  height: 27px;
  margin-bottom: 16px;
}

.about-us__image--love {
  margin-bottom: 9px;
}

.about-us__image--support {
  margin-bottom: 20px;
  width: 55px;
  height: 23px;
}

.about-us__image--present {
  width: 33px;
  height: 32px;
  margin-bottom: 13px;
}


.about-us__text {
  font-size: 17px;
  font-weight: bold;
  line-height: 1.18;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1.1;
  }
}
