.baskets {
  margin-bottom: 36px;
}

.baskets__inner {
  @include inner;
}

.baskets__title {
  padding: 0 0 8px 0;
  margin: 0;
}

.baskets__week {
  align-self: center;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.18;
  letter-spacing: normal;
  color: $color-brand;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 30px;
}

.baskets__description {
  font-size: 15px;
  line-height: 1.6;
  color: $color-danger;
  margin: 0 0 34px 0;
}

.baskets__desc-table {
  border-bottom: 1px solid #cecece;
  color: $color-danger;
}

.baskets__table {
  width: 100%;
  margin: 0 0 28px 0;
  border-collapse: collapse;
}

.baskets__text {
  @include reset-list;
}

.baskets__price {
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.41;
  color: $color-danger;
  margin-bottom: 28px;
}

.baskets__to-order-btn {
  @include button-style;
}

.baskets__image-tablet,
.baskets__image-desktop {
  display: none;
}

@media (min-width: 768px) {
  .baskets {
    margin-bottom: 100px;
  }

  .baskets__info {
    display: flex;
    justify-content: space-between;
  }

  .baskets__good {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 55px;
  }

  .baskets__about-product {
    display: flex;
    flex-wrap: wrap;
    width: 255px;
  }

  .baskets__title {
    font-size: 43px;
    font-weight: bold;
    line-height: 1.16;
    padding: 0;
  }

  .baskets__week {
    text-align: center;
    width: 70px;
    line-height: 1;
    padding: 0 28px 0 0;
  }

  .baskets__price {
    margin: 0 auto 28px auto;
  }

  .baskets__image-mobile,
  .baskets__image-desktop {
    display: none;
  }

  .baskets__image-tablet {
    display: block;
  }

  .baskets__to-order-btn {
    padding: 0;
  }
}

@media (min-width: 1150px) {
  .baskets__wrapper {
    width: 700px;
    margin: 0 auto;
  }

  .baskets__image-mobile,
  .baskets__image-tablet {
    display: none;
  }

  .baskets__image-desktop {
    margin-top: -151px;
    margin-left: 55px;
    display: block;
  }

  .baskets__title {
    order: 2;
    z-index: 1;
    font-size: 53px;
    font-weight: bold;
    line-height: 1.08;
  }

  .baskets__week {
    position: absolute;
    top: 13px;
    left: -130px;
  }

  .baskets__good {
    position: relative;
    justify-content: unset;
  }

  .baskets__description {
    font-size: 17px;
    width: 290px;
  }

  .baskets__about-product,
  .baskets__to-order-btn {
    width: 295px;
  }
}
