.baskets {
  position: relative;
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
    padding-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 60px;
    padding-bottom: 96px;
  }
}

.baskets__wrapper {
  @media (min-width: $desktop-width) {
    width: 875px;
    margin-left: auto;
  }
}

.baskets__inner {
  @include inner;

  @media (max-width: $mobile-width-only) {
    padding-bottom: 48px;
    margin-bottom: 20px;
  }
}

.baskets__title {
  padding: 0 0 8px 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-weight: bold;
    line-height: 1.16;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    order: 2;
    z-index: 1;
    font-weight: bold;
    line-height: 1.08;
    margin-left: -4px;
  }
}

.baskets__week {
  align-self: center;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.18;
  letter-spacing: normal;
  color: $color-brand;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: $tablet-width) {
    text-align: center;
    width: 100px;
    line-height: 1;
    padding: 0 28px 0 0;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 13px;
    left: -130px;
  }
}

.baskets__about-text {
  font-size: 15px;
  line-height: 1.6;
  color: $color-danger;
  margin: 0 0 20px 0;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 1.76;
    margin: 0 0 36px 0;
  }

  @media (min-width: $desktop-width) {
    font-size: 17px;
    width: 290px;
    margin: 0 0 45px 0;
  }
}

.baskets__desc-table {
  border-bottom: 1px solid #cecece;
  color: $color-danger;
}

.baskets__table {
  width: 100%;
  margin: 0 0 28px 0;
  border-collapse: collapse;
  line-height: 36px;

  @media (min-width: $desktop-width) {
    line-height: 2.6;
  }
}

.baskets__text {
  @include reset-list;
  padding-right: 24px;

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.baskets__price {
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.41;
  color: $color-danger;
  margin: 0 0 25px 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1.2;
    margin: 12px auto 33px auto;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
  }
}

.baskets__to-order-btn {
  display: block;
  padding: 15px 84px;
  margin: 0 auto;

  @include button-style;

  @media (min-width: $tablet-width) {
    padding: 14px 100px;
  }
}

.baskets__image {
  display: block;
  width: 260px;
  height: 315px;
  margin: 0 auto;
  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    width: 333px;
    height: 404px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    width: 525px;
    height: 636px;
    margin-top: -162px;
    margin-left: 55px;
    display: block;
  }
}

.baskets__info {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.baskets__good {
  @media (max-width: $mobile-width-only) {
    margin-bottom: 20px;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 52px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.baskets__description {
  @media (min-width: $tablet-width) {
    width: 285px;
  }
}

.baskets__order {
  @media (min-width: $tablet-width) {
    margin-top: -116px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -122px;
  }
}

.baskets__about-product {
  @media (min-width: $desktop-width) {
    width: 295px;
  }
}

.baskets__line-icon {
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  color: #e6e7e8;
  width: 100%;
  height: 22px;
  transform: translateX(-50%) rotate(180deg);

  @media (min-width: $desktop-width) {
    width: 1050px;
  }
}
