.catalog {
  margin-bottom: 58px;

  @media (min-width: $tablet-width) {
    margin-bottom: 63px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 102px;
  }
}

.catalog__inner {
  @include inner;
}

.catalog__title-page {
  background-color: #f1f1f1;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-top: -43px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 124px;
  }
}

.catalog__page-text {
  padding: 74px 40px;
  margin: 0;

  @include page-title;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    padding: 97px 190px 100px 190px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    padding: 96px 340px 106px 340px;
  }
}

.catalog__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  text-align: center;

  @include reset-list;

  @media (min-width: $tablet-width) {
    width: 668px;
    margin: 60px auto;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    margin: 0 auto;
  }
}

.catalog__item {
  border: 1px solid #ececec;

  &:not(:last-of-type) {
    @media (min-width: $desktop-width) {
      width: 316px;
    }
    margin-bottom: 30px;
  }

  @media (min-width: $tablet-width) {
    width: 100%;

    &:not(:last-of-type) {
      margin-bottom: 52px;
    }
  }
}

.catalog__link {
  display: block;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.catalog__image {
  width: 260px;
  height: 195px;
  margin-bottom: 18px;

  @media (min-width: $tablet-width) {
    width: 334px;
    height: 334px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    width: 316px;
    height: 462px;
  }
}

.catalog__desc {
  width: 205px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 280px;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    width: 266px;
  }
}

.catalog__title {
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.41;
  text-align: left;
  color: #000000;
  margin: 0 0 5px 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1.2;
    margin-top: 25px;
  }

  @media (min-width: $desktop-width) {
    letter-spacing: 0.01em;
    margin: 0;
    padding: 25px 0 5px 0;
  }
}

.catalog__title-basket {
  width: 180px;

  @media (min-width: $tablet-width) {
    width: 212px;
  }

  @media (min-width: $desktop-width) {
    padding: 25px 0 5px 0;
  }
}

.catalog__text {
  font-size: 13px;
  line-height: 2.31;
  text-align: left;
  color: $color-danger;
  margin: 0 0 19px 0;

  @media (min-width: $tablet-width) {
    font-size: 15px;
    line-height: 2;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    padding: 0 0 38px 0;
  }
}

.catalog__text-basket {
  @media (min-width: $desktop-width) {
    padding: 0 0 14px 0;
  }
}

.catalog__price {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-bottom: 27px;
  padding-top: 21px;
  border-top: 1px solid #e1e1e1;

  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: 0;
    min-width: 268px;
  }

  @media (min-width: $desktop-width) {
    position: static;
    min-width: 268px;
  }
}

.catalog__item-video {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    display: block;
    min-height: 455px;
    margin-top: 6px;
  }
}

.catalog__money {
  text-decoration: none;
  color: #000000;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.6;
  text-align: left;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 1.41;
  }
}

.catalog__process {
  display: flex;
  align-items: center;
  width: 205px;
  margin: 26px auto;

  @media (min-width: $tablet-width) {
    width: auto;
    margin: 0 auto 30px 40px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    align-items: flex-start;
    width: 160px;
    float: right;
    margin: 45px 129px 35px 0;
  }
}

.catalog__title-process {
  margin: 0;

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.catalog__img {
  margin: 0 30px 0 0;

  @media (min-width: $tablet-width) {
    margin: 0 33px 0 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 18px 0;
  }
}

.catalog__video {
  margin-bottom: 18px;

  @media (min-width: $tablet-width) {
    order: -1;
    width: 668px;
    height: 455px;
    margin-bottom: 33px;
  }

  @media (min-width: $desktop-width) {
    width: 682px;
    margin: 0;
    float: left;
  }
}

.catalog__text-process {
  width: 192px;
  line-height: 1.85;
  text-align: left;
  margin: 0 auto 25px auto;

  @media (min-width: $tablet-width) {
    margin: 0 40px 40px 40px;
    width: auto;
    font-size: 15px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 224px;
    margin: 0 0 42px 0;
    line-height: 2;
    padding: 0;
  }
}

.catalog__btn {
  padding: 14px 24px;
  margin-bottom: 32px;

  @include button-style;

  @media (min-width: $tablet-width) {
    min-width: 585px;
    padding: 14px 220px;
    margin-bottom: 44px;
  }

  @media (min-width: $desktop-width) {
    padding: 16px 38px;
    margin: 0;
    min-width: 230px;
  }
}

.catalog__process-wrapper {
  @media (min-width: $desktop-width) {
    float: right;
    width: 230px;
    text-align: left;
    margin: 0 58px 0 0;
  }
}
