.contacts {
  margin-bottom: 38px;
}

.contacts__inner {
  @include inner;
}

.contacts__title {
  margin-bottom: 42px;
}

.contacts__info {
  margin-bottom: 42px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.contacts__email,
.contacts__address {
  display: flex;
  font-size: 15px;
  line-height: 2;
  color: $color-danger;
}

.contacts__value,
.contacts__field {
  vertical-align: top;
  padding: 0;
}

.contacts__value {
  padding-right: 16px;
}

.contacts__field-line {
  border-bottom: 1px solid $color-brand;
}

.contacts__map {
  position: relative;
  text-align: center;
  margin-bottom: 38px;
}

.contacts__pin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50px, -33.5px);
}

.contacts__map-desktop,
.contacts__map-tablet {
  display: none;
}

.contacts__btn {
  @include button-style;
  display: block;
  margin: 0 auto;
  padding: 20px 52px;
}

@media (min-width: $tablet-width) {
  .contacts__title {
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      background-image: url("https://via.placeholder.com/150x150");
      width: 50px;
      height: 50px;
    }
    position: relative;
    font-size: 43px;
    font-weight: bold;
    line-height: 1.16;
  }

  .contacts__map-tablet {
    display: block;
  }

  .contacts__map-mobile {
    display: none;
  }

  .contacts__inner-btn {
    text-align: center;
  }

  .contacts__btn {
    padding: 20px 42px;
  }

  .contacts__value,
  .contacts__field {
    font-size: 17px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__wrapper {
    display: flex;
    justify-content: space-between;
    width: 875px;
    margin-left: auto;
  }

  .contacts__title {
    &::after {
      content: "";
      position: absolute;
      top: 5px;
      left: -121px;
      background: url("https://via.placeholder.com/150x150");
      width: 50px;
      height: 50px;
    }
    font-size: 53px;
    font-weight: bold;
    line-height: 1.08;
    display: inline-block;
  }

  .contacts__info {
    flex-direction: column;
  }

  .contacts__map-tablet {
    display: none;
  }

  .contacts__map-desktop {
    display: block;
  }

  .contacts__btn {
    display: inline;
  }
}
