.contacts {
  margin-bottom: 39px;
}

.inner {
  @include inner;
}

.contacts__title {
  margin-bottom: 42px;
}

.contacts__info {
  margin-bottom: 42px;
}

.contacts__email,
.contacts__address {
  display: flex;
  font-size: 15px;
  line-height: 2;
  color: $color-danger;
}

.contacts__value,
.contacts__field {
  vertical-align: top;
  padding: 0;
}

.contacts__value {
  padding-right: 17px;
}

.contacts__field-line {
  border-bottom: 1px solid $color-brand;
}

.contacts__map {
  position: relative;
  text-align: center;
  margin-bottom: 39px;
}

.contacts__pin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50px, -33.5px);
}

.contacts__btn {
  @include button-style;
}
