.footer {
  background-color: #f1f1f1;
}

.footer__inner {
  @include inner;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.footer__copyright {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 22px;

  @media (min-width: $tablet-width) {
    align-self: center;
    padding: 0;
    font-size: 19px;
  }
}

.footer__line {
  margin: 26px 0;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.footer__logo {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.copyright__text {
  @media (min-width: $tablet-width) {
    align-self: center;
    margin-right: 30px;
  }
}
