.footer {
  background-color: #f1f1f1;
}

.footer__inner {
  @include inner;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.social__list {
  @include reset-list;

  @media (min-width: $tablet-width) {
    margin-right: -58px;
    padding: 0;
  }
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 25px;
}

.footer__copyright {
  @media (min-width: $tablet-width) {
    align-self: center;
    padding: 0;
    font-size: 19px;
  }
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 22px;
}

.footer__line {
  @media (min-width: $tablet-width) {
    display: none;
  }
  margin: 26px 0;
}

.footer__logo {
  @media (min-width: $tablet-width) {
    display: block;
  }
  display: none;
}

.social__item:not(:last-of-type) {
  @media (min-width: $tablet-width) {
    margin-right: 40px;
  }
}

.copyright__text {
  @media (min-width: $tablet-width) {
    align-self: center;
    margin-right: 30px;
  }
}
