.form {
  margin-bottom: 47px;

  @media (min-width: $tablet-width) {
    margin-bottom: 50px;
  }
}

.form__inner {
  @include inner;

  @media (max-width: $mobile-width-only) {
    margin: 0;
  }

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.form__inner--column {
  @media (min-width: $tablet-width) {
    flex-direction: column;
  }
}

.form__wrapper-phone,
.form__wrapper-email {
  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.form__names {
  margin-top: -16px;
  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    margin-left: auto;
  }

  @media (min-width: $desktop-width) {
    width: 800px;
    margin: 0 auto;
    margin-top: -16px;
  }
}

.form__first-name {
  margin-bottom: 17px;

  @media (min-width: $desktop-width) {
    width: 700px;
  }
}

.form__last-name {
  margin-bottom: 16px;

  @media (min-width: $desktop-width) {
    width: 900px;
  }
}

.form__first-name,
.form__last-name {
  margin-bottom: 22px;
}

.form__first-name,
.form__last-name,
.form__father-name {
  @media (max-width: $mobile-width-only) {
    line-height: 0.1;
  }

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.form__placeholder--tel,
.form__placeholder--email {
  @media (min-width: $tablet-width) {
    background-color: #f1f1f1;
  }
}

.form__wrapper-phone {
  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.form__wrapper-email {
  margin-bottom: 26px;
}

.form__title-page {
  position: relative;
  background-color: #f1f1f1;

  @media (min-width: $tablet-width) {
    margin-top: -44px;
    margin-bottom: 38px;
  }
}

.form__page-text {
  padding: 72px 0 74px 0;

  @include page-title;

  @media (min-width: $tablet-width) {
    padding: 95px 0 90px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 96px 0 112px 0;
  }
}

.form__text {
  font-size: 13px;
  color: $color-danger;
  line-height: 1.85;
  margin: 24px 0 17px 0;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 1.76;
  }

  @media (min-width: $desktop-width) {
    width: 698px;
    margin: 71px auto 20px auto;
  }
}

.form__radio {
  display: flex;
  flex-direction: column;
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    width: 480px;
    margin-left: auto;
  }

  @media (min-width: $desktop-width) {
    width: 758px;
    margin: 0 auto;
  }
}

.form__games {
  display: flex;
}

.form__interior {
  display: flex;
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
  }
}

.form__checkboxes {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    width: 446px;
    margin-left: 128px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    width: 766px;
    padding-right: 54px;
    margin: 0 auto;
  }
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: baseline;
  }
}

.form__fieldset--type {
  @media (min-width: $tablet-width) {
    padding: 58px 0 36px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 58px 0 68px 0;
  }
}

.form__fieldset--names {
  padding: 0;

  @media (min-width: $tablet-width) {
    padding: 67px 0 26px 0;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 54px;
  }
}

.form__fieldset--additionally {
  padding: 50px 0 41px 0;

  @media (max-width: $mobile-width-only) {
    padding: 0;
  }
}

.form__legend {
  display: inline-flex;
  align-items: center;
  width: 100%;
  font-size: 17px;
  font-weight: bold;
  line-height: 0.94;
  text-transform: uppercase;
  color: $color-brand;
  margin: 0 0 35px 0;

  @media (min-width: $tablet-width) {
    width: auto;
    align-self: baseline;
    min-width: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 62px;
  }
}

.form__legend--names {
  @media (max-width: $mobile-width-only) {
    margin: 0 0 45px 0;
  }

  margin: 0 0 18px 0;
}

.form__legend--phone {
  margin-bottom: 12px;

  @media (max-width: $mobile-width-only) {
    margin: 0;
  }
}

.form__legend--email {
  margin-bottom: 14px;

  @media (max-width: $mobile-width-only) {
    margin: 0;
  }
}

.form__legend--additionally {
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    padding-top: 17px;
  }
}

.form__legend--line {
  @media (max-width: $mobile-width-only) {
    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      margin-left: 15px;
      background-color: $color-brand;
    }
  }
}

.form__style-text {
  font-size: 17px;
  font-weight: bold;
  line-height: 1.06;

  @media (min-width: $tablet-width) {
    font-size: 19px;
    line-height: 0.95;
  }

  @media (min-width: $desktop-width) {
    font-size: 19px;
    line-height: 0.95;
  }
}

.form__radio--indentation {
  position: relative;
  padding-left: 60px;

  &::before {
    content: "";
    position: absolute;
    top: -16px;
    left: -20px;
    width: 52px;
    height: 52px;
    border: 2px solid $color-danger;
    border-radius: 50%;
  }

  &::after {
    content: "";
    position: absolute;
    top: -1px;
    left: -5px;
    width: 22px;
    height: 22px;
    background-color: $color-brand;
    border: 2px solid $color-brand;
    border-radius: 50%;
    transform: scale(0);
  }

  @media (max-width: $mobile-width-only) {
    &::before {
      content: "";
      width: 40px;
      height: 40px;
      top: -10px;
      left: -1px;
    }

    &::after {
      content: "";
      width: 16px;
      height: 16px;
      top: 2px;
      left: 11px;
    }
  }
}

.form__input-check:checked ~ .form__radio--indentation::after {
  content: "";
  position: absolute;
  top: -1px;
  left: -5px;
  width: 22px;
  height: 22px;
  background-color: $color-brand;
  border: 2px solid $color-brand;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.4s ease;

  @media (max-width: $mobile-width-only) {
    top: 2px;
    left: 11px;
    width: 16px;
    height: 16px;
  }
}

.form__checkbox--indentation {
  position: relative;
  padding-left: 60px;

  &::before {
    content: "";
    position: absolute;
    top: -16px;
    left: -21px;
    width: 54px;
    height: 52px;
    border: 2px solid $color-danger;

    @media (max-width: $mobile-width-only) {
      top: -12px;
      left: 0;
      width: 40px;
      height: 40px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: -10px;
    width: 33px;
    height: 22px;
    background: url("../img/icon-tick.svg") no-repeat;
    transform: scale(0);
    transition: all 0.4s ease;

    @media (max-width: $mobile-width-only) {
      top: -4px;
      left: 4px;
    }
  }

  @media (max-width: $mobile-width-only) {
    &:not(:last-of-type) {
      padding-bottom: 44px;
    }
  }

  @media (min-width: $tablet-width) {
    width: 185px;
    margin-bottom: 58px;
  }
}

.form__checkbox-check:checked + .form__checkbox--indentation::after {
  content: "";
  position: absolute;
  top: 0;
  left: -10px;
  width: 33px;
  height: 22px;
  background: url("../img/icon-tick.svg") no-repeat;
  transform: scale(1);
  transition: all 0.4s ease;

  @media (max-width: $mobile-width-only) {
    top: -4px;
    left: 4px;
  }
}

.form__placeholder {
  &::placeholder {
    opacity: 0.3;
    font-size: 17px;
    line-height: 1.06;
    color: $color-danger;
  }

  font-size: 19px;
  color: $color-danger;
  width: 100%;
  border: none;
  box-shadow: inset 0 -2px 0 0 #000000;
  padding: 0 0 18px 0;
  min-height: 52px;

  &:hover {
    box-shadow: inset 0 -2px 0 0 #62d1ba;
  }

  &:focus {
    box-shadow: inset 0 -2px 0 0 #62d1ba;
  }

  @media (max-width: $mobile-width-only) {
    padding: 0;
  }

  @media (min-width: $tablet-width) {
    &::placeholder {
      font-size: 19px;
      line-height: 0.95;
    }

    width: 428px;
    margin-left: auto;
    padding: 0 0 0 16px;
  }

  @media (min-width: $desktop-width) {
    width: 700px;
    margin: 0 auto;
  }
}

.form__placeholder--last-name,
.form__placeholder--father-name {
  width: 378px;

  @media (max-width: $mobile-width-only) {
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    width: 575px;
    margin: 0;
  }
}

.form__placeholder--tel {
  padding: 12px 0 18px 0;
  background: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: right center;

  @media (max-width: $mobile-width-only) {
    letter-spacing: 0.06em;
    padding: 0;
  }

  @media (min-width: $tablet-width) {
    width: 500px;
    padding: 0 0 0 17px;
    margin-top: -16px;
    margin-bottom: 38px;
    margin-left: 108px;
  }

  @media (min-width: $desktop-width) {
    width: 700px;
    margin-left: 80px;
    margin-bottom: 40px;
  }
}

.form__placeholder--email {
  background: url("../img/icon-mail.svg");
  background-repeat: no-repeat;
  background-position: right center;
  width: 500px;

  @media (max-width: $mobile-width-only) {
    width: 100%;
  }

  @media (min-width: $tablet-width) {
    margin-top: -16px;
  }

  @media (min-width: $desktop-width) {
    width: 700px;
    margin-left: 60px;
  }
}

.form__textarea {
  @media (min-width: $tablet-width) {
    width: 500px;
    min-height: 142px;
    margin-left: auto;
  }

  @media (min-width: $desktop-width) {
    width: 700px;
    margin-left: 74px;
  }
}

.form__textarea-text {
  &::placeholder {
    opacity: 0.3;
    font-size: 17px;
    line-height: 1.26;
    color: $color-danger;
  }

  font-size: 17px;
  line-height: 1.26;
  color: $color-danger;
  width: 100%;
  height: 140px;
  resize: none;
  border: solid 2px $color-danger;
  padding: 12px 55px 0 14px;

  &:hover,
  &:focus {
    border: solid 2px $color-brand;
  }

  @media (min-width: $tablet-width) {
    &::placeholder {
      font-size: 19px;
      line-height: 0.95;
    }

    font-size: 19px;
    line-height: 0.95;
  }
}

.form__text-mb {
  align-self: center;

  &:not(:last-of-type) {
    margin-bottom: 20px;
  }

  @media (min-width: $tablet-width) {
    margin-right: 24px;
  }
}

.form__require {
  font-size: 14px;
  line-height: 1.14;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 1.76;
  }
}

.form__inner--required {
  @media (min-width: $tablet-width) {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
  }

  @media (min-width: $desktop-width) {
    width: 790px;
    margin: 0 auto;
  }
}

.form__btn {
  margin-top: 26px;
  padding: 14px 45px;

  @include button-style;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    padding: 14px 30px;
  }
}

.form__fieldset--checkboxes {
  @media (max-width: $mobile-width-only) {
    margin-bottom: 32px;
  }

  @media (min-width: $tablet-width) {
    background-color: #f1f1f1;
    padding: 65px 0 10px 0;
  }
}

.form__fieldset--email {
  @media (min-width: $tablet-width) {
    background-color: #f1f1f1;
    padding: 68px 0 24px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 65px 0 24px 0;
  }
}
