.form {
  margin-bottom: 55px;
}

.form__inner {
  @include inner;
}

.form__title-page {
  @media (min-width: $tablet-width) {
    margin-top: -55px;
  }
  background-color: #f1f1f1;
}

.form__page-text {
  @include page-title;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    padding: 104px 185px 90px 185px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    padding: 105px 330px 112px 330px;
  }
  padding: 76px 36px 80px 36px;
  margin: 0;
}

.form__text {
  font-size: 13px;
  color: $color-danger;
  line-height: 1.85;
  margin: 30px 0;
}

.form__radio {
  display: flex;
  flex-direction: column;
}

.form__games {
  display: flex;
}

.form__interior {
  display: flex;
  margin-bottom: 30px;
}

.form__fieldset {
  &:not(:last-of-type) {
    margin-bottom: 30px;
  }
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
}

.form__legend {
  display: inline-flex;
  align-items: center;
  width: 100%;
  font-size: 17px;
  font-weight: bold;
  line-height: 0.94;
  text-transform: uppercase;
  color: $color-brand;
  margin-bottom: 30px;
}

.form__legend-line {
  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    margin-left: 15px;
    background-color: $color-brand;
  }
}

.form__style-text {
  font-size: 17px;
  font-weight: bold;
  line-height: 1.06;
}

.form__text-indentation {
  &:not(:last-of-type) {
    margin-bottom: 20px;
  }
  padding-left: 60px;
}

.form__placeholder {
  &::placeholder {
    opacity: 0.3;
    font-size: 17px;
    line-height: 1.06;
    color: $color-danger;
  }
  width: 100%;
  border: none;
  box-shadow: inset 0 -2px 0 0 #000000;
  padding: 18px 0;
}

.form__textarea-text {
  &::placeholder {
    opacity: 0.3;
    font-size: 17px;
    line-height: 1.26;
    color: $color-danger;
    padding: 15px 55px 0 16px;
  }
  width: 250px;
  height: 140px;
  resize: none;
  border: solid 2px $color-danger;
  margin-bottom: 18px;
}

.form__text-mb:not(:last-of-type) {
  margin-bottom: 20px;
}

.form__require {
  font-size: 14px;
  line-height: 1.14;
}

.form__btn {
  @include button-style;
  margin-top: 30px;
}
