.handwork {
  margin-bottom: 34px;
  background: url("../img/hero-mobile@1x.jpg") no-repeat center top;
}

.handwork__inner {
  @include inner;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.handwork__title {
  display: flex;
  align-items: center;
  text-align: center;
  min-height: 300px;
}

.page-title {
  width: 245px;
  margin: -50px auto 0 auto;
}

.handwork__category {
  width: 105px;
  font-size: 19px;
  font-weight: bold;
  line-height: 1.26;
  color: #ffffff;
  margin: 0;
  padding-top: 8px;
}

.handwork__interior {
  background-color: #63d1bb;
}

.handwork__image-itn {
  padding-right: 10px;
}

.handwork__toys {
  background-color: #56c3b2;
}

.handwork__interior,
.handwork__toys {
  display: flex;
  align-items: center;
  text-decoration: none;
  min-height: 100px;
}

.handwork__image-itn,
.handwork__image-toys {
  opacity: 0.2;
}

// Media tablet
@media (min-width: 768px) {
  .handwork {
    background: url("../img/hero-tablet@1x.jpg") no-repeat center top;
    box-shadow: inset 0 -1px 0 1px #f9f9f9, inset 0 0 0 1px rgba(68, 68, 68, 0.2);
    margin-top: -50px;
  }

  .handwork__title {
    min-height: 630px;
  }

  .page-title {
    width: 500px;
    height: 95px;
    font-size: 43px;
    font-weight: bold;
    line-height: 1.16;
    margin: -226px auto 0 auto;
  }

  .handwork__interior,
  .handwork__toys {
    width: 335px;
  }

  .handwork__image-itn {
    padding-right: 0;
  }

  .handwork__goods {
    display: flex;
    justify-content: center;
  }

  .handwork__category {
    font-size: 20px;
  }

  .handwork__inner {
    width: 270px;
    padding: 0 34px;
  }
}
// Media Desktop
@media (min-width: 1150px) {
  .handwork {
    margin-top: -50px;
    margin-bottom: 140px;
  }

  .handwork__text {
    width: 615px;
    font-size: 53px;
    font-weight: bold;
    line-height: 1.08;
  }

  .handwork__interior,
  .handwork__toys {
    width: 525px;
  }

  .handwork__inner {
    width: 460px;
  }

  .handwork__category {
    padding: 35px 0;
  }
}
