.handwork__title {
  .handwork__text {
    width: 244px;
    margin: -51px auto 0 auto;
  }
  display: flex;
  align-items: center;
  text-align: center;
  min-height: 283px;
  background: url("../img/hero-mobile@1x.jpg") no-repeat 50% 20%;
}

.handwork__goods {
  .handwork__text {
    width: 106px;
    font-size: 19px;
    font-weight: bold;
    line-height: 1.26;
    color: #ffffff;
    margin: 0;
    padding-top: 8px;
  }
}

.handwork__interior {
  .handwork__image-itn {
    padding-right: 10px;
  }
  background-color: #63d1bb;
}

.handwork__toys {
  background-color: #56c3b2;
}

.handwork__inner {
  display: flex;
  justify-content: space-between;
}

.handwork__interior,
.handwork__toys {
  display: flex;
  align-items: center;
  text-decoration: none;
  min-height: 103px;
}

.handwork__image-itn,
.handwork__image-toys {
  opacity: 0.2;
}
