.header {
  position: relative;
}

.header__logo {
  display: flex;
}

.header__inner {
  @include inner;

  @media (min-width: $tablet-width) {
    display: flex;
    width: 768px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 1150px;
  }
}

.logo__image {
  @media (min-width: $tablet-width) {
    width: 112px;
    height: 46px;
  }

  @media (min-width: $desktop-width) {
    width: 149px;
    height: 72px;
  }
  width: 86px;
  height: 35px;
  margin: 22px auto;
}
