.logo__picture {
  margin: 0 auto;
}

.logo__image {
  width: 86px;
  height: 35px;
  margin: 0 auto;
  margin-top: 22px;
  margin-bottom: 14px;
  cursor: pointer;

  &:hover {
    @include hover-opacity;
  }

  &:active {
    @include active-opacity;
  }


  @media (min-width: $tablet-width) {
    width: 112px;
    height: 46px;
    margin: 18px auto;
  }

  @media (min-width: $desktop-width) {
    width: 149px;
    height: 72px;
    margin: 0 auto;
  }
}
