.menu {
  position: relative;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.menu__list {
  position: relative;

  @include reset-list;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
  }
}

.menu__list-new,
.menu__list-delivery {
  display: none;

  @media (min-width: $desktop-width) {
    margin-top: 25px;
  }
}

.menu__list-new {
  // @media (min-width: $tablet-width) {
  //   display: none;
  // }

  @media (min-width: $desktop-width) {
    display: flex;
    margin-right: auto;
  }
}

.menu__link-new {
  @media (min-width: $desktop-width) {
    &:first-of-type {
      margin-right: 64px;
    }
    font-size: 15px;
  }
}

.menu__item {
  width: auto;
  box-shadow: 0 1px 0 0 #ececec, inset 0 1px 0 0 #ececec;
  padding: 32px 60px 32px 76px;

  @media (min-width: $tablet-width) {
    align-self: stretch;
    box-shadow: none;
    padding: 0;
  }
}

.menu__link {
  position: relative;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.41;
  text-decoration: none;
  color: #000000;
}

.menu__list-delivery {
  @media (min-width: $tablet-width) {
    display: block;
    order: 2;
    margin-top: 25px;
  }
}

.menu__link-delivery {
  @media (min-width: $tablet-width) {
    font-size: 15px;
    font-weight: normal;
    line-height: 1.6;
    color: $color-danger;
  }
}

.menu__list-catalog-order {
  @media (min-width: $tablet-width) {
    margin-right: auto;
    order: 1;
    font-size: 15px;
    margin-top: 25px;
  }

  @media (min-width: $desktop-width) {
    order: -1;
    margin: 0 75px 0 0;
  }
}

.menu__link-catalog {
  @media (min-width: $tablet-width) {
    margin-right: 37px;
    font-size: 15px;
  }

  @media (min-width: $desktop-width) {
    font-size: 17px;
    margin-right: 70px;
  }
}

.menu__link-order {
  @media (min-width: $tablet-width) {
    font-size: 15px;
  }

  @media (min-width: $desktop-width) {
    font-size: 17px;
  }
}

.menu__link-basket {
  &::before {
    content: "";
    position: absolute;
    top: 2px;
    left: -40px;
    background: url("../img/icon-cart.svg") no-repeat;
    width: 21px;
    height: 18px;
    opacity: 0.2;
  }

  @media (min-width: $tablet-width) {
    padding-left: 50px;

    &::before {
      content: "";
      left: 0;
    }
  }
}

.menu__btn {
  position: absolute;
  top: 26px;
  right: 32px;
  z-index: 2;
  display: none;
  width: 35px;
  height: 22px;
  border: none;
  background-color: transparent;
  cursor: pointer;

  @media (max-width: $mobile-width-only) {
    display: block;
  }
}

.menu__line {
  &:nth-of-type(2) {
    top: 4px;
  }

  &:last-of-type {
    top: 8px;
  }
  position: relative;
  top: 0;
  right: 0;
  display: block;
  width: 20px;
  height: 2px;
  background-color: #000000;
}

.logo {
  @media (min-width: $tablet-width) {
    margin-right: auto;
  }
}

// Добавляем стили для закрытого меню
.menu__closed .menu__btn {
  background: url("");
}

.menu__closed .menu__list {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

// Добавляем стили для открытого меню
.menu__opened .menu__btn {
  background: url("");
}

.menu__opened .menu__list-search,
.menu__opened .menu__list-catalog-order {
  @media (max-width: $mobile-width-only) {
    display: block;
  }
}

// Добавляем стили для кнопки без JS
.menu__no-js .menu__btn {
  display: none;
}

.menu__no-js .menu__list-search,
.menu__no-js .menu__list-catalog-order {
  @media (max-width: $mobile-width-only) {
    display: block;
  }
}
