.menu__list {
  text-align: left;
  width: 320px;
  margin: 0;
  padding: 0;
}

.menu__item {
  list-style: none;
  box-shadow: 0 1px 0 0 #ececec, inset 0 1px 0 0 #ececec;
  padding: 32px 63px 32px 75px;
}

.menu__item-search {
  &::placeholder {
    font-size: 17px;
    font-weight: bold;
    line-height: 1.41;
    color: #000000;
    text-overflow: ellipsis;
  }
  font-size: 17px;
  font-weight: bold;
  line-height: 1.41;
  color: #000000;
  text-overflow: ellipsis;
  border: none;
  width: 100%;
}

.menu__link {
  font-size: 17px;
  font-weight: bold;
  line-height: 1.41;
  text-decoration: none;
  color: #000000;
}

.menu__btn {
  position: absolute;
  top: 31px;
  right: 0;
}
