.reviews {
  margin-bottom: 45px;
}

.reviews__image {
  display: none;
}

.reviews__inner {
  @include inner;
}

.reviews__title {
  margin-bottom: 38px;
}

.reviews__text {
  font-size: 15px;
  line-height: 2;
  color: $color-danger;
  margin: 0 0 40px 0;
}

.reviews__name {
  font-size: 17px;
  font-weight: bold;
  line-height: 1.41;
  margin: 0;
}

.reviews__account {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 1.76;
  color: $color-danger;
  margin: 0;
}

.reviews__user,
.reviews__slide {
  margin-bottom: 38px;
}

.reviews__btn-prev,
.reviews__btn-next {
  width: 130px;
  height: 52px;
  padding: 0;
  border: solid 1px #ececec;
  background-color: transparent;
  cursor: pointer;
}

.reviews__btn-next {
  margin-left: -5px;
}

.reviews__write-btn {
  @include button-style;
  padding: 20px 80px;
}

@media (min-width: $tablet-width) {
  .reviews__inner {
    background: url("../img/review@1x.jpg") no-repeat 0% 75%;
  }

  .reviews__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 85px;
  }

  .reviews__slider {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    order: 2;
  }

  .reviews__text {
    width: 645px;
    font-size: 17px;
    line-height: 1.76;
    padding-top: 52px;
    margin-bottom: 70px;
  }

  .reviews__write-btn {
    padding: 20px 40px;
  }

  .reviews__title {
    align-self: center;
    font-size: 43px;
    font-weight: bold;
    line-height: 1.16;
    margin-bottom: 0;
  }

  .reviews__btn-prev,
  .reviews__btn-next {
    border: none;
  }
}

@media (min-width: $desktop-width) {
  .reviews__inner {
    background: url("../img/review@1x.jpg") no-repeat 7% 27%;
    padding-bottom: 60px;
  }

  .reviews__wrapper {
    width: 875px;
    margin-left: auto;
  }

  .reviews__title {
    font-size: 53px;
  }

  .reviews__text {
    width: 770px;
  }
}
