.search {
  &::before {
    content: "";
    position: absolute;
    top: 38px;
    left: 35px;
    background: url("../img/icon-search.svg") no-repeat;
    width: 18px;
    height: 18px;
    opacity: 0.2;
  }

  @media (min-width: $tablet-width) {
    margin-right: 40px;

    &::before {
      content: "";
      top: 36px;
      left: 15px;
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      position: absolute;
      top: 6px;
      left: 15px;
    }
  }
}

.search__link {
  @media (min-width: $tablet-width) {
    margin-right: 60px;
    font-size: 0;
  }
}
