.search__link {
  &::before {
    content: "";
    position: absolute;
    top: 3px;
    left: -40px;
    background: url("../img/icon-search.svg") no-repeat;
    width: 18px;
    height: 18px;
    opacity: 0.2;
  }

  @media (min-width: $tablet-width) {
    margin-right: 60px;
    font-size: 0;

    &::before {
      content: "";
      top: -15px;
      left: -10px;
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      position: absolute;
      top: -15px;
      left: -10px;
    }
  }
}

.search__link-display-none {
  @media (min-width: $desktop-width) {
    display: none;
  }
}