.social__list {
  @include reset-list;

  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 144px;
  margin: 0 auto;


  @media (min-width: $tablet-width) {
    margin-right: -78px;
    padding: 0;
  }
}

.social__item:not(:last-of-type) {
  @media (min-width: $tablet-width) {
    margin-right: 40px;
  }
}

.social__link {
  color: #000000;
}

.social__icon-cart {
  color: #231f20;
  opacity: 0.2;
}
