@mixin inner {
  margin: 0 auto;
  padding: 0 30px;

  @media (min-width: $tablet-width) {
    width: 100%;
    padding: 0 50px;
  }

  @media (min-width: $desktop-width) {
    width: 1140px;
    padding: 0 45px;
  }
}

@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin button-style {
  font-family: inherit;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.18;
  color: $color-danger;
  text-transform: uppercase;
  border: solid 2px $color-danger;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    background-color: $color-danger;
    color: #ffffff;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

@mixin page-title {
  font-size: 27px;
  font-weight: bold;
  line-height: 1.11;
  text-align: center;
  width: 244px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    width: 500px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    width: 620px;
  }
}

@mixin hover-opacity {
  opacity: 0.6;
}

@mixin down-opacity {
  opacity: 0.3;
}
