@mixin inner {
  width: 260px;
  padding: 0 30px;
  margin: 0 auto;

  @media (min-width: 768px) {
    width: 670px;
    padding: 0 49px;
    margin: 0 auto;
  }

  @media (min-width: 1150px) {
    width: 1050px;
    padding: 0 50px;
    margin: 0 auto;
  }
}

@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin button-style {
  font-family: inherit;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.18;
  color: $color-danger;
  text-transform: uppercase;
  border: solid 2px $color-danger;
  background-color: transparent;
  width: 260px;
  padding: 20px 0;
  cursor: pointer;
}
