@mixin inner {
  margin: 0 auto;
  padding: 0 30px;

  @media (min-width: $tablet-width) {
    width: 668;
    padding: 0 50px;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
  }
}

@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin button-style {
  font-family: inherit;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.18;
  color: $color-danger;
  text-transform: uppercase;
  border: solid 2px $color-danger;
  background-color: transparent;
  cursor: pointer;
}

@mixin page-title {
  font-size: 27px;
  font-weight: bold;
  line-height: 1.11;
  text-align: center;
}
